[submodule "oh-my-zsh"]
	path = share/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/themes/nord-tmux"]
	path = share/tmux/themes/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
[submodule "tmux/plugins/tmux-battery"]
	path = share/tmux/plugins/tmux-battery/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "powerline-fonts"]
	path = vendor/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "share/vim/bundle/nerdtree"]
	path = share/vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "share/vim/bundle/ctrlp.vim"]
	path = share/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "share/vim/bundle/cosmic_latte"]
	path = share/vim/bundle/cosmic_latte
	url = https://github.com/nightsense/cosmic_latte.git
[submodule "share/vim/bundle/vimwiki"]
	path = share/vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "share/vim/bundle/vim-airline"]
	path = share/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "share/vim/bundle/typescript-vim"]
	path = share/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "share/vim/bundle/ale"]
	path = share/vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "share/vim/bundle/vim-es6"]
	path = share/vim/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "share/vim/bundle/vim-javascript"]
	path = share/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
